{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <title>User Profiles</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'css/profile_search.css'%}"
    />
  </head>
  <body>
    <header>
      <h1>User Profiles</h1>
    </header>
    <main>
      {% for hm in Searches%}
      <section class="user-profile">
        {% if hm.image %}
        <img src="{{hm.image.url}}" />
        {% else %}
        <img src="{%static 'media/download.jpg'%}" />
        {%endif%}
        <h2>{{hm.user.username}}</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et nisl
          nec mauris semper tincidunt. Sed at faucibus sapien, a consectetur
          eros.
        </p>
        <form method="post" action="../add_followers">
          {% csrf_token %}
          <input type="hidden" name="ids" value="{{hm.user.id}}" />
          <button class="follow-button">Follow</button>
        </form>
      </section>
      {%endfor%}
    </main>
  </body>
</html>
