* {
  margin: 0;

  padding: 0;

  border: 0;
}
html {
  font-size: 10px;
  background-color: #f8f9fa;
}
body {
  background-color: #f8f9fa;
  font-family: "Rubik";
}
.card {
  border-radius: 1rem;
  background-color: #f4fce3;
  overflow: hidden;
  width: 100%;
  height: 90%;
  transition-duration: 0.5s;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 300;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.history-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.script {
  display: inline-block;
  width: 30rem;
  height: 30rem;
  margin: 2rem;
  position: relative;
}
.navigation {
  display: flex;
  padding-left: 5rem;
  margin-bottom: 4rem;
  background-color: #e9ecef;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}
.navigation a {
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
  margin-right: 3rem;
  color: #5c940d;
  padding-right: 2rem;
}
.svg {
  display: flex;
  justify-items: center;
  align-items: center;
}
.Fav {
  margin-left: 15rem;
  margin-left: 10rem;
}
h1 {
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  color: #343a40;
  margin-bottom: 1.5rem;
  font-family: "Sassy Frass";
}
.cancelicon {
  display: none;
  position: absolute;
  font-size: 2rem;
  background-color: transparent;
  top: 0;
  right: 0;
  color: #f03e3e;
  z-index: 10;
}
.nofavtext {
  padding-top: 5rem;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  font-family: Sono, Inter;
  color: #343a40;
}
